# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Spotlight
.Spotlight-V100
.Trashes

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# OneDrive / iCloud
.iCloud
*.icloud

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Office temp / lock files
~$*
*.tmp
